/* Set all parents to full height */

html,
body,
.container,
.cbp-fbscroller,
.cbp-fbscroller section {
         height: 100%;
}


/* The nav is fixed on the right side  and we center it by translating it 50% 
(we don't know it's height so we can't use the negative margin trick) */

.cbp-fbscroller > nav {
         position: fixed;
         z-index: 9999;
         right: 50px;
         top: 50%;
         width: 26px;
         -webkit-transform: translateY(-50%);
         -moz-transform: translateY(-50%);
         -ms-transform: translateY(-50%);
         transform: translateY(-50%);
}

.cbp-fbscroller > nav a {
         display: block;
         position: relative;
         z-index: 9999;
         color: transparent;
         width: 26px;
         height: 26px;
         outline: none;
         margin: 25px 0;
         border-radius: 50%;
         border: 4px solid #fff;
}

.no-touch .cbp-fbscroller > nav a:hover {
         background: rgba(255, 255, 255, 0.6);
}

.cbp-fbscroller > nav a.cbp-fbcurrent {
         background: #fff;
}


/* background-attachment does the trick */

.cbp-fbscroller section {
         position: relative;
         background-position: top center;
         background-repeat: no-repeat;
         background-size: cover;
}

.no-touch .cbp-fbscroller section {
         background-attachment: fixed;
}

#fbsection1 {
         background: linear-gradient(black, transparent 100%), linear-gradient(0deg, black, transparent), #ffa949 url('http://www.theappacademy.us/img/main.jpg');
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
}

#fbsection2 {
         background-color: #E76C4D;
}

#fbsection3 {
          background: linear-gradient(black, transparent 100%), linear-gradient(0deg, black, transparent), #ffa949 url('https://upload.wikimedia.org/wikipedia/commons/7/75/Pasadena_High_School_from_street.jpg');
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
}

#fbsection4 {
                   background: linear-gradient(rgba(231, 76, 60, 0.9), transparent 100%), linear-gradient(0deg, rgba(231, 76, 60, 0.9), transparent), #ffa949 url('http://hsiehlab.caltech.edu/uploads/1/3/7/6/13760810/4543298_orig.jpg');
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
}
}

#fbsection6 {
background-color: yellow;
}