/*csslint ids: false, box-model: false, universal-selector: false, box-sizing: false,  unique-headings: false, compatible-vendor-prefixes: false, adjoining-classes: false;*/

#main-title {
         border-left: 1px solid white;
         border-right: 1px solid white;
         color: white;
         font-family: 'Rajdhani', sans-serif;
         font-weight: 300;
         margin-top: -20px;
         padding: 20px;
}

#underline {
         background-color: #E76C4D;
         border: 1px solid white;
         padding: 5px;
}

.arrow {
         -webkit-animation-duration: 1.5s;
         -webkit-animation-iteration-count: infinite;
         -webkit-animation-name: pulsate;
         -webkit-animation-timing-function: ease-in-out;
         border: 1px solid white;
         border-radius: 360px;
         display: block;
         margin: auto;
         margin-top: 100px;
         padding: 10px;
         width: 50px;
}

@-webkit-keyframes pulsate {
         0% {
                  width: 60px;
                  height: 50px;
                  opacity: 0.40
         }
         10% {
                  width: 40px;
                  height: 40px;
                  opacity: .40
         }
         20% {
                  width: 40px;
                  height: 40px;
                  opacity: .60
         }
         30% {
                  width: 40px;
                  height: 40px;
                  opacity: .80
         }
         40% {
                  width: 40px;
                  height: 40px;
                  opacity: 1.0
         }
         50% {
                  width: 45px;
                  height: 45px;
                  opacity: 1.20
         }
         60% {
                  width: 45px;
                  height: 45px;
                  opacity: 1.0
         }
         70% {
                  width: 45px;
                  height: 45px;
                  opacity: .80
         }
         80% {
                  width: 45px;
                  height: 45px;
                  opacity: .60
         }
         90% {
                  width: 45px;
                  height: 45px;
                  opacity: .40
         }
         100% {
                  width: 45px;
                  height: 45px;
                  opacity: .50
         }
}

#h-nav {
         margin-right: -50px;
}

#main-links {
         border-right: 1px solid white;
         color: white;
         font-family: 'Poiret One', cursive;
         padding-right: 25px;
}

#main-links:hover {
         border-right: 1px solid white;
         color: lightgrey;
         font-family: 'Poiret One', cursive;
         padding-right: 15px;
         transition: .5s;
}

#main-link-last {
         color: white;
         font-family: 'Poiret One', cursive;
}

#main-link-last:hover {
         color: lightgrey;
         font-family: 'Poiret One', cursive;
         transition: .5s;
}

#welcome {
         color: white;
         font-family: 'Rajdhani', sans-serif;
         font-size: 60px;
         font-weight: 300;
         padding-top: 165px;
         text-align: center;
         z-index: 2000;
}

#welcome-p {
         color: white;
         display: block;
         font-family: 'Poiret One', cursive;
         font-size: 30px;
         font-weight: 400;
         margin: auto;
         margin-top: 10px;
         text-align: center;
         width: 800px;
         z-index: 1000;
}

div {
         text-align: justify;
}

div img {
         display: inline-block;
         height: 100px;
         width: 100px;
}

div:after {
         content: '';
         display: inline-block;
         width: 100%;
}

#welcome-aside {
         color: #E76C4D;
         font-family: 'Poiret One', cursive;
         font-size: 25px;
         font-weight: 800;
         text-align: center;
         z-index: 1000;
}

#courses-p {
         color: white;
         float: left;
         font-family: 'Poiret One', cursive;
         font-size: 25px;
         font-weight: 800;
         margin-left: -140px;
         margin-top: 120px;
         width: 1100px;
}

#courses-title {
         color: white;
         float: left;
         font-family: 'Rajdhani', sans-serif;
         font-size: 50px;
         font-weight: 800;
         margin-left: 50px;
         z-index: 1000;
}


/*turning card */

.flip-container {
         /*adds size*/
         margin-top: 35px;
}


/* flip the pane when hovered */

.flip-container:hover .flipper,
.flip-container.hover .flipper {
         transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
         /*i put the size to a certain amount to fit in the column*/
         background: white;
         border: 1px solid lightgrey;
         border-color: black;
         border-radius: 20px;
         height: 300px;
         width: 300px;
}


/* flip speed goes here */

.flipper {
         position: relative;
         transform-style: preserve-3d;
         transition: 0.6s;
}


/* hide back of pane during swap */

.front,
.back {
         backface-visibility: hidden;
         left: 0;
         position: absolute;
         top: 0;
}


/* front pane, placed above back */

.front {
         /* for firefox 31 */
         transform: rotateY(0deg);
         z-index: 2;
}


/* back, initially hidden pane */

.back {
         transform: rotateY(180deg);
}

.vertical.flip-container {
         position: relative;
}

.vertical .back {
         transform: rotateX(180deg);
}

.vertical.flip-container .flipper {
         transform-origin: 100% 213.5px;
         /* half of height */
}

.vertical.flip-container:hover .flipper {
         transform: rotateX(-180deg);
}


/*set id to the front to make it easier to edit*/


/*made it red with box shadpw and vlack border*/

#front {
         background: white;
         border-radius: 20px;
}


/*changed the paragraph inside the container to black Ariel*/

#pfront {
         color: black;
         font-family: Arial;
         margin-top: 20;
}


/*text color of paragraph is black*/

p {
         color: black;
}


/*color of first line id in HTML is black*/

#firstline {
         color: black;
         font-family: 'Exo', sans-serif;
         font-size: 30px;
         margin-top: 20;
         text-align: center;
}

.b1,
.b2,
.b3,
.b4 {
         /*each id to my little webpages*/
         /*adds arelative display margin of 45 on all sides*/
         /*it floats left the width of it is 25%*/
         /*and the color is transparent*/
         display: inline-block;
         margin-left: 45px;
         margin-right: 45px;
         width: 300px;
}

.back {
         overflow-y: scroll;
         padding: 20px;
}

.wrap {
         height: 100%;
         position: relative;
         text-align: center;
         width: 100%;
         z-index: 8888;
}

#imgturn {
         height: 250;
         width: 250;
}

#fbsection2 {
         border-bottom: 10px solid #E76C4D;
}

#flip-h1 {
         color: black;
         font-family: 'Rajdhani', sans-serif;
         text-align: center;
}

#p-flip {
         text-align: center;
}

.arrow-down {
         border-left: 100px solid transparent;
         border-right: 100px solid transparent;
         border-top: 50px solid #E76C4D;
         display: block;
         height: 0;
         margin: auto;
         margin-top: 20px;
         width: 0;
}

#first {
         float: left;
         margin-left: -80px;
         margin-top: 120px;
}

#second {
         color: white;
         float: left;
         margin-left: 80px;
}

#third {
         float: left;
         margin-left: 80px;
}

#fourth {
         color: white;
         float: left;
         margin-left: -556px;
         margin-top: 80px;
}

#fifth {
         float: left;
         margin-right: 100px;
}

#sixth {
         float: left;
         margin-left: 80px;
}

#seventh {
         float: left;
         margin-left: 80px;
}

iframe {
         border: 0;
         display: block;
         height: 580px;
         margin: auto;
         margin-left: 0.1px;
         overflow: visible;
         padding-top: 130px;
         width: 900px;
}

#fbsection3 {
         border-bottom: 10px solid white;
}

.arrow-down-1 {
         border-left: 100px solid transparent;
         border-right: 100px solid transparent;
         border-top: 50px solid #E76C4D;
         display: block;
         height: 0;
         margin: auto;
         margin-top: 20px;
         width: 0;
}

#mc_embed_signup {
         background: transparent;
         border: 2px solid white;
         clear: left;
         font: 14px 'Rajdhani', sans-serif;
         margin-left: 80px;
         padding: 10px;
         width: 400px;
}

#contact-h1 {
         color: white;
         float: right;
         font: 25px 'Rajdhani', sans-serif;
         font-size: 45px;
         margin-right: 300px;
         padding-top: 115px;
         z-index: 4000;
}

#contact-p {
         color: white;
         float: right;
         font-family: 'Poiret One', cursive;
         font-size: 15px;
         font-weight: 800;
         margin-right: -200px;
         padding-top: 210px;
         width: 200px;
         z-index: 4000;
}

#float-contact {
         float: right;
}

#gallery {
         display: inline-block;
         margin-left: -250px;
         padding-top: 140px;
}

#student-img {
         border: 2px solid white;
         height: 180px;
         margin-right: 20px;
         width: 250px;
}

#h3-work {
         font-family: 'Poiret One', cursive;
         margin-left: 80px;
}

#faq-div {
         float: left;
         margin-left: 80px;
         width: 1000px;
}

#faq-h1 {
         font-family: 'Rajdhani', sans-serif;
}

#faq-p {
         font-family: 'Poiret One', cursive;
         ;
         font-weight: 900;
}